<% if @users.any? %>

  <% @users.each do |user| %>
    <div class="well">
      <%= "<b>#{user.name}</b>, #{user.email} - #{user.age} #{ gender_name(user) }".html_safe %>
    </div>
  <% end %>
  
<% else %>

<div class="alert">
  Nenhum usuário cadastrado
</div>


<% end %>

<%= link_to "Novo usuário", new_user_path, class: 'btn btn-success'  %>
