<% if @users.any? %>

  <% @users.each do |user| %>
    <%= "#{user.name}, #{user.email} - #{user.age}" %>
  <% end %>
  
<% else %>

<div class="alert">
  Nenhum usuário cadastrado
</div>


<% end %>

<%= link_to "Novo usuário", new_user_path, class: 'btn btn-success'  %>
